* {
  margin: 0;
  padding: 0;
}

.Header {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 173, 27);
  height: 150px;
}

.Header div {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}